body {
    padding: 20px;
    background-color: bisque;
    /* text-align: center; */
}

h4 {
    font-weight: 900;
    font-size: xx-large;
}

footer {
    padding-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}