body {
    background-color: rgb(185, 113, 25);
    max-width:calc(100vw - 4rem);
    width:70rem;
    margin:0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

nav a{
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.caption {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card {
    background-color: rgb(0, 255, 255);
}

.form {
    padding-top: 20px;
}

footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}

.contact {
    justify-content: center;
    display: flex;
    gap: 2em;
}

.login__button {
    align-items: center;
}
